* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F4E3;
}

hr {
    border: 0;
    height: 3px;
    background: #2A2B2A;
    width: 30%;
    margin: 5px auto;
}

h2, p {
    font-family: Poppins, Roboto, Verdana, san-serif;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    
}

p {
    text-align: justify;
    text-indent: 50px;
    margin: 20px 100px;
    font-size: 1.0em;
}

b, strong {
    color: #E5446D;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* ---------------- HEADER ---------------- */

li, a, button {
    font-family: Georgia, Cambria, serif;
    font-size: 1.0em;
    color: #2A2B2A;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #FF8966;
}

.nav-links li a.active {
    position: relative;
}

.nav-links li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #E5446D;
}

/* ---------------- MAIN LANDING SECTION ---------------- */

.main-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    gap: 20px;
}

.main-landing img {
    flex-shrink: 0;
    align-self: flex-end;
    max-height: 90vh;
    width: auto;
    object-fit: cover;
    align-self: right;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 50px;
}

.landing-header {
    flex-grow: 1;
    padding: 70px 10px 50px; 
    border-left: 7px solid #2A2B2A;
    padding-left: 20px;
    line-height: 1.0;
    margin-left: 15px;
    margin-right: 50px;
    width: 45%;
}

.landing-header h1 {
    font-family: 'Abril-Fatface', Georgia, 'Georgia-Pro', Cambria, serif;
    font-size: 4.37em;
    text-align: left;
    background: linear-gradient(to right, #e5446d, #ff8966, #ff8966);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 5px 0 0; 
    padding: 0;
    letter-spacing: 1px;
    word-spacing: 0.06em;
}

.landing-header h2 {
    font-size: 1.25em;
    text-align: left;
    margin: 0; 
    padding: 0;
    font-weight: normal
}

.landing-header p {
    margin: 5px 0 20px; 
    padding: 0; 
    text-align: left; 
    text-indent: 0px;
    font-size: 1em
}

.landing-buttons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

h2, p {
    font-family: Poppins, Roboto, Verdana, san-serif;
    color: #2A2B2A;
}

/* ---------------- SECTION BUTTONS ---------------- */
.section-button {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: flex-end;
    margin-right: 100px;
}

/* ---------------- TECHNICAL SKILLS SECTION ---------------- */
.skills-container {
    padding: 50px 10%;
    display: flex;
    gap: 20px;
}

.skills-container li {
    font-family: Poppins, Roboto, Verdana, san-serif;
}

.all-skills {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: right;
    padding-right: 0px;
    margin-right: 0px;
}

.all-skills img {
    flex-shrink: 0;
    align-self: flex-end;
    max-height: 25vh;
    width: auto;
    object-fit: cover;
    align-self: right;
    padding-right: 0px;
    margin-right: 0px;
}

/* ---------------- WORK SECTION ---------------- */
.work-container {
    padding: 50px 10%;
    gap: 20px;
}

.work-container li {
    font-family: Poppins, Roboto, Verdana, san-serif;
}

/* ---------------- EDUCATIONAL SECTION ---------------- */
.education-container {
    padding: 50px 10%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ---------------- TRAINING/SEMINARS SECTION ---------------- */
.training-container {
    background-color: #F8F4E3;
    padding: 50px 10%;
}

/* ---------------- INTEREST/HOBBIES SECTION ---------------- */
.interest-container {
    background-color: #F8F4E3;
    padding: 50px 10%;
}

/* ---------------- FOOTER ---------------- */
footer {
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    padding: 0px 0px;
    background-color: #706C61;
}

footer p {
    background-color: #706C61;
    text-align: right;
    color: #F8F4E3;
    font-size: 0.8em;
}
